<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->

    {% include favicon.html %}

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ClubdeckApp">
    <meta name="twitter:title" content="👋 Clubhouse ❤️ desktop">
    <meta name="twitter:description" content="Clubdeck is a free Clubhouse client for your desktop, available on Mac and Windows. Made with ❤️, 🍣 and 🍻 in Barcelona & Paris.">
    <meta name="twitter:image" content="https://www.clubdeck.app/img/screen2.png">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><img src='/img/wave.svg' width='30' height='30'/> Clubhouse ❤️ desktop, available on Mac and PC</h1>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    {% include google-analytics.html %}
    {% endif %}
  </body>
</html>